body { font: 12pt Arial;background-color: aquamarine;background-position-x: 9ex; } /*troquei a cor do fundo*/
h1, h2, h3 { font-family: 'Pacifico', cursive; font-weight: 
normal; border-bottom-color: blueviolet ;border-style: groove;border-top: 5mm;} /*troquei a cor do botaõ e estilo*/
button { font-size: 12pt; padding: 30px;color: black; }