body { font: 12pt Arial; background-color: rgb(230, 112, 112);}
h1, h2, h3 { font-family: 'fantasy', cursive; font-weight: normal;}
button { font-size: 12pt; padding: 30px; border-radius: 8em; color: rgb(25, 43, 104); }