body { font: 12pt Arial; background-color: aquamarine; }
h1, h2, h3 { font-family: 'Pacifico', cursive; font-weight: normal; font-family: monospace;}
button { font-size: 12pt; padding: 30px; border-bottom-right-radius: 15vw; border-right: 10rem;
     border-bottom: 10rem; color: blue; background-color: beige;}