

body { font: 12pt Arial; background-color: rgb(224, 12, 12);}
h1, h2, h3 { font-family: 'Pacifico', cursive; font-weight: normal; font-size: 2cm;}
button { font-size: 12pt; padding: 30px; border-right-color:rgb(240, 240, 240) ; 
    border-left-color: rgb(12, 11, 11); border-width: 10vh; border-bottom-width: 3vmax; }
    /* aqui eu troquei a cor de fundo, o tamanho da fonte, as cores dos dois lados da barra do botão*/