body { font: 12pt Arial; background-color: beige; }
h1, h2, h3 { font-family: 'Pacifico', cursive; font-weight: normal; color: brown;}
button { font-size: 12pt; padding: 30px;font-size: 30pt; color: blue; 
    background-color: black; border-radius: 15rem;}

/*aqui eu mudei a cor do fundo, cor da fonte, deixei redondo o botão e almentei*/