@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body { font: 12pt Arial; background-color: rgb(106, 106, 209); }
h1, h2, h3 { font-family: 'Pacifico', cursive; font-weight: normal; font-style: oblique;}
input[type=number] { font-size: 12pt; background-color: rgb(245, 240, 240); }
input[type=submit] { 
    background-color: rgb(128, 0, 0); 
    color: white; 
    font-size: 12pt; 
    padding: 15px; 
    border-bottom-left-radius: 10rem;
    box-shadow: 14mm;
   border-width: 10vw;
   border-color: blanchedalmond;
}